@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./partials/Navbar";
@import "./partials/buttons";

html,
body {
  overflow-x: hidden;
}

.htmlBase {
  ul {
    li {
      list-style: disc;
      list-style-position: outside;
    }
  }
}
